 
/* CSS Document */
img {
	height:10em;
	/*margin-top:-20px;*/
}

body {
	font:12px arial;
	color: #222;
	text-align:center;
	margin: 0;
	/*padding:35px; */}
 
form, p, span {
	margin:0;
	padding:0; }
 
input { font:12px arial; }
 
a {
	color:#0000FF;
	text-decoration:none; }
 
	a:hover { text-decoration:underline; }


#wrapper {
	margin:0 auto;
	margin-bottom: 40px;
	padding-bottom:25px;
	background:#EBF4FB;
	width:898px;
	height: 400px;
	border:1px solid #ACD8F0; }
 
#loginform { 
	margin:0 auto;
	padding-bottom:25px;
	background:#EBF4FB;
	width:504px;
	border:1px solid #ACD8F0;	
	padding-top:18px; }
 
	#loginform p { margin: 5px; }
 
#chatbox {
	float:right;
	text-align:left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding:10px;
	background:#fff;
	height:330px;
	width:530px;
	border:1px solid #ACD8F0;
	overflow:auto;
	word-wrap:break-word;
	}
#inputfelt {
}
#usermsg {
	width:478px;
	height: 40px;
	margin-left: 28px;
	border:1px solid #ACD8F0;
	padding-left:0;
	resize: none;
}
#submitmsg {
	float: right;
	margin-right: 10px;
	height: 46px;
	width: 60px;
}
#submit { width: 60px; }
 
.error { color: #ff0000; }
 
#menu { padding:12.5px 25px 12.5px 25px; }
 
.welcome {
	float:left;
	margin-bottom: 5px;
}

.logout {
	float:right;
}
 
.msgln { margin:0 0 2px 0; }
 
#velgBot {
	margin:0 auto;
	padding-bottom:25px;
	background:#EBF4FB;
	width:300px;
	border-top:1px solid #ACD8F0;
}

#velgBot p {
	margin:10px;
	font-size: 20px;

}

#du {
	font-size: 30px;
	
}
#infobox {
	float: left;
	width: 288px;
	margin-left: 10px;
}
#insideWrapper {
	width: 600px;
	float: right;
}
#bots {
	text-align: left;
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 5px;
}
.botGuess {
	width: 120px;
	height: 40px;
	margin: 4px;
	font-size: 1.1em; 
}